<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<head>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/out.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/stock.css}" rel="stylesheet"/>
    <script th:src="@{/js/stock.js}"></script>
    <title>Document</title>
</head>
<body>
<div layout:fragment="modal60">
    <!-- Modal -->
    <form action="/ssglanders/stock" method="post">
        <div class="modal fade" id="outmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">출고 요청</h1>
                    </div>
                    <div class="modal-body">
                        출고할 정보를 입력해주세요.
                    </div>
                    <div class="modal-minititle">
                        상품 선택
                    </div>
                    <div class="right-div">
                        <div class="modal-input">
                            <input type="text" class="form-control" id="modal-stock-name">
                        </div>
                    </div>
                    <div class="modal-minititle">
                        창고 선택
                    </div>
                    <div class="right-div">
                        <div class="modal-input">
                            <input type="text" class="form-control" id="modal-stock-wname">
                        </div>
                    </div>

                    <div class="modal-minititle">
                        수량 (PLT)
                    </div>
                    <div class="right-div">
                        <div class="modal-input">
                            <input type="text" name="quantity" class="form-control" placeholder="" aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">요청</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="main" layout:fragment="content">
    <div class="main-background">
        <div class="main-box">
            <h1>재고 현황</h1>
            <div class="category1">
                <div class="search1">
                    <form action="ssglanders/stock" method="get">
                        <select class="select1" id="storage1" name="wname"
                                onchange="updateDestination(), displayStorage(), updatefill(), updatecapacity(), submitwnameselect()">
                            <option value>창고 선택</option>
                            <option th:each="whlist : ${whList}" th:text="${whlist.wname}"
                                    th:value="${whlist.usingcapacity}"
                                    th:attr="data-usingcapacity=${whlist.usingcapacity}, data-capacity=${whlist.capacity}"></option>
                        </select>
                    </form>
                </div>

                <div class="search3">
                    <select class="select2" id="storage2">
                    </select></div>
            </div>
        </div>
    </div>

    <div class="windows">
        <div class="warehouse" onclick="hiddenlist()">
            <h3 id="storagetitle"></h3>
            <div class="capacity-bar">
                <div class="bar">
                    <div class="fill"></div>
                </div>
            </div>
        </div>
        <div id="myTable" style="display: none;">
            <table>
                <tr>
                    <td id="totalcapacity" colspan="2"></td>
                </tr>
                <tr th:each="wrlist : ${wrList}">
                    <td th:text="${wrlist.name} + ${wrlist.quantity}"></td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <form action="/ssglanders/stock" method="get">
        <div class="listmenu">
            <div>
                <select class="form-select" name="types">
                    <option name="types" value="t">전체</option>
                    <option name="types" value="p">상품명</option>
                    <option name="types" value="c">카테고리</option>
                </select>
            </div>
            <div>
                <input type="text" name="keyword" class="search2"></div>
            <div>
                <button class="button searchbutton searchBtn" type="submit"/>
                검색
            </div>

            <div>
                <select class="form-select" name="size" id="pageSizeSelect" onchange="submitselect()">
                    <option selected value="3">페이지 수</option>
                    <option value="3">3개씩</option>
                    <option value="5">5개씩</option>
                    <option value="10">10개씩</option>
                </select>
            </div>
        </div>
    </form>
    <div class="main-detail">
        <h2>재고 목록</h2>
        <table class="list">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>카테고리</th>
                <th>현 재고량</th>
                <th>창고 위치</th>
                <th>창고 상태</th>
                <th>현 상태</th>
                <th>요청사항</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="dto, index : ${responseDTO.dtoList}">
                <td data-label="#" th:text="${index.index + 1}"></td>
                <td data-label="상품명" id="dtoname" th:text="${dto.name}"></td>
                <td data-label="카테고리"
                    th:text="${dto.firstcategory + '-' + dto.secondcategory + '-' + dto.thirdcategory}"></td>
                <td data-label="현 재고량" th:text="${dto.quantity}"></td>
                <td data-label="창고명" id="dtowname" th:text="${dto.wname}" th:value="${dto.wname}"></td>
                <td data-label="창고 상태" th:text="${dto.warehousetype}"></td>
                <td data-label="현 상태" th:if="${dto.status == 'on'}" th:text="적재완료"></td>
                <td data-label="현 상태" th:if="${dto.status == 'off'}" th:text="적재대기"></td>
                <td data-label="요청사항">
                    <button class="open-modal-btn" th:if="${dto.status == 'on'}" data-bs-toggle="modal"
                            data-bs-target="#outmodal"
                            th:data-name="${dto.name}"
                            th:data-wname="${dto.wname}" onclick="inputdata()">
                        출고 요청
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="float-end">
        <ul class="pagination">
            <li class="page-item" th:if="${responseDTO.prev}">
                <a class="page-link" th:href="@{/ssglanders/stock(page=${num})}" th:data-num="${responseDTO.start - 1}">Previous</a>
            </li>

            <th:block th:each="num : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                <li class="page-item" th:class="${responseDTO.page == num ? 'active' : ''}">
                    <a class="page-link" th:href="@{/ssglanders/stock(page=${num})}" th:data-num="${num}"
                       th:text="${num}"></a>
                </li>
            </th:block>

            <li class="page-item" th:if="${responseDTO.next}">
                <a class="page-link" th:href="@{/ssglanders/stock(page=${num})}" th:data-num="${responseDTO.end + 1}">Next</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
