<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.ssglandersmini2.mappers.OverallMapper">
    <select id="getIncomingCount" resultType="int">
        select count(*) from incoming
    </select>
    <select id="getOutComingCount" resultType="int">
        select count(*) from outcoming
    </select>
    <select id="getIncomingList" resultType="com.ssg.ssglandersmini2.domain.Incoming">
        select * from incoming
    </select>
    <select id="getOutcomingList" resultType="com.ssg.ssglandersmini2.domain.Outcoming">
        select * from outcoming
    </select>
    <select id="getIncomingBeforeCount" resultType="int">
        select count(*) from incoming where status = "배달중"
    </select>
    <select id="getIncomingArriveCount" resultType="int">
        select count(*) from incoming where status = "배달완료"
    </select>
    <select id="getOutcomingBeforeCount" resultType="int">
        select count(*) from outcoming where status = "출고전" and approval ="승인완료"
    </select>
    <select id="getOutcomingArriveCount" resultType="int">
        select count(*) from outcoming where status = "출고후"
    </select>
    <select id="getNotApprovalIncomingCount" resultType="int">
        select count(*) from incoming where approval = "승인대기"
    </select>
    <select id="getNotApprovalOutcomingCount" resultType="int">
        select count(*) from outcoming where approval = "승인대기"
    </select>
    <select id="getTotalUsingCapacity" resultType="int">
        select sum(usingcapacity) from warehouse
    </select>
    <select id="getWarehouseList" resultType="com.ssg.ssglandersmini2.domain.Warehouse">
        select * from warehouse
    </select>
</mapper>