<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.ssglandersmini2.mappers.StockMapper">
    <select id="selectAll">
                select p.name, p.firstcategory,p.secondcategory,p.thirdcategory,
               s.quantity, w.warehousetype, b.status
        from stock s left join product p on s.pid = p.pid
                     left join warehouse w on s.wid = w.wid
                    left join inventory b on w.wid = b.wid
                group by p.name;
    </select>
    <select id ="getCount" resultType="int">
        select count(*) from stock;
    </select>
    <select id="selectList">
        SELECT
        p.name, p.firstcategory, p.secondcategory, p.thirdcategory ,
        sum(i.quantity) as quantity, wname, w.warehousetype, b.status
        from incoming i left join product p on i.pid=p.pid left join warehouse w on w.wid = i.wid left join stock s on s.wid = i.wid left join inventory b on b.wid = w.wid
        <where>
            <if test="types != null and types.length > 0">
                <trim prefix="AND" prefixOverrides="AND">
                    <foreach collection="types" item="type" separator=" OR ">
                        <choose>
                            <when test="type == 't'.toString()">
                                (p.name LIKE CONCAT('%', #{keyword}, '%') OR w.warehousetype LIKE CONCAT('%', #{keyword}, '%'))
                            </when>
                            <when test="type == 'p'.toString()">
                                p.name LIKE CONCAT('%', #{keyword}, '%')
                            </when>
                            <when test="type == 'c'.toString()">
                                concat(p.firstcategory,p.secondcategory,p.thirdcategory) LIKE CONCAT('%', #{keyword}, '%')
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </where>
        group by wname, p.name
        order by wname
        LIMIT #{skip}, #{size}
    </select>
    <select id = "getWarehouse">
        SELECT
            s.quantity, w.warehousetype, w.wname, w.capacity, sum(w.usingcapacity) as usingcapacity
        FROM
            stock s
                LEFT JOIN
            warehouse w ON s.wid = w.wid
        group by w.wname
    </select>
    <select id="getWarehouseList" resultType="com.ssg.ssglandersmini2.dto.StockDTO">
        select w.wname, p.name as name, i.quantity from incoming i left join product p on i.pid=p.pid left join warehouse w on w.wid = i.wid
        <where>
            w.wname = #{wname}
        </where>
    </select>

</mapper>