html {
  height: 100%;
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  background-color: rgb(233,233,233);
}

/*  nav bar */

.left-div {
  width: 220px;
  background-color: rgb(233,233,233);
}
.nav-img{
  width: 180px;
}
.imag-div{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.nav-div{
  height: 700px;
  width: 220px;
  /* border: solid 1px white; */
  padding-top: 20px;
  /* padding-left: 50px; */
}
.nav flex-column{
  color: black;
  display: flex;
  flex-direction: column;
}
.nav-link{
  color: black;
  padding-left: 15px;
}
.nav-item {
  display: flex;
  padding-left: 20px;
  color: black;
  margin-right: 20px; /* 각 항목 사이의 간격 조절 */
  margin-left: 30px;
  width: 155px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out; /* 그림자 변화에 애니메이션 효과를 추가 */
}

.nav-item:hover {
  background-color: transparent; /* 배경색 변경을 제거 */
  box-shadow: 0 2px 5px black; /* 그림자 효과 추가 */
  width: 155px; /* 필요한 경우 너비 조정 */
  border-radius: 5px; /* 그림자 효과에 매끄러운 모서리 추가 */
  position: relative; /* z-index가 올바르게 작동하도록 위치 지정 */
  z-index: 1; /* 다른 항목 위에 표시되도록 z-index 설정 */
  cursor: pointer;
}


.nav-icon{
  width: 10px;
  height: 10px;
}

.bi-grid {
  color: black;
  margin-top: 7px;
}
.bi-calendar-plus{
  color: black;
  margin-top: 7px;
}
.bi-calendar-minus{
  color: black;
  margin-top: 7px;
}
.bi-calendar-range{
  color: black;
  margin-top: 7px;
}
.bi-calendar-week{
  color: black;
  margin-top: 7px;
}
.bi-calendar2-check{
  color: black;
  margin-top: 7px;
}
.bi-person{
  color: black;
  margin-top: 7px;
}
.nav-menu{
  color: black;
  font-weight: bold;
  margin-left: 48px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}


/* 햄버거 메뉴 스타일 */
.mobile-nav-toggle {
  display: none; /* 초기에는 숨김 처리 */
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: black; /* 아이콘 색상 설정 */
  position: fixed; /* 모바일 화면에서 상단에 고정 */
  top: 0; /* 상단에 위치 */
  right: 0; /* 우측에 위치 */
  z-index: 1050; /* 다른 내용보다 상위에 위치 */
}


/* 메인 div */


.main {
  flex: 1;
  position: relative;
  z-index: 1;
  background-color: rgb(233,233,233);
  width: 100%;
  min-height: 100vh;
}
.main .charts{
  display: flex;
  width: 90%;
}
.main .chart{
  width: 40%;
  height: 15vw;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-background {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 160px;
  margin-top: 60px;
  background-color:  rgb(61,135,255) ;
}
.main-box {
  margin-left: 30px;
  margin-top: 110px;
}
.main h1 {
  position: relative;
  z-index: 3;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.main-stateboxes {
  position: relative;
  display: flex;
  z-index: 3;
}

.main-stateboxes h2{
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 10%;
}

.main-stateboxes .value {
  position: absolute;
  top: 40%;
  left: 10%;
  padding: 0;
}

.main-stateboxes .wait-value {
  position: absolute;
  top: 70%;
  left: 10%;
  padding: 0;
  font-size: 12px;
  color: rgb(61,135,255);
}

.main-statebox {
  position: relative;
  width: 17vw;
  height: 170px;
  border-radius: 10px;
  margin: 10px;
  background-color: white;
}



.main-statebox i.icon-home {
  border-radius: 5px;
  position: absolute;
  display: flex; /* Flex 컨테이너로 설정 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  top: 30px;
  right: 20px;
  background-color:  rgb(164, 199, 255);
  width: 30px; /* 이미지 너비 */
  height: 30px; /* 이미지 높이 */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.main-statebox ul.value {
  font-weight: bold;
  font-size: 30px;
}

.main-detail{
  width: 73.5vw;
  margin-left: 40px;
  font-size: 13px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;

}

.main-detail h2 {
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
}

.main-detail thead {
  text-align: left;
  border-radius: solid;

}
.main-detail thead th {
  width: 250px;
  color: rgba(0, 0, 0, 0.5);
}
table {
  padding-left: 10px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
}
th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color:  rgb(164, 199, 255);
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.main-detail tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px; /* 테이블의 왼쪽 하단 모서리 */
}

.main-detail tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px; /* 테이블의 오른쪽 하단 모서리 */
}




@media (max-width: 768px) {
  html, body {
    width: 100%;
    flex-direction: column; /* html과 body의 flex 방향을 수직으로 변경 */
  }

  /* 미디어쿼리 navbar */

  .left-div {
    position: fixed; /* left-div 내부에서 절대 위치를 사용하기 위한 기준 설정 */
    display: flex; /* 네비게이션 바와 햄버거 메뉴를 함께 표시 */
    flex-direction: column; /* 세로 정렬 */
    width: 100%; /* 너비를 화면 전체로 설정 */
    height: 20vw;
    z-index: 1040; /* z-index 조정 */
    align-items: center; /* 가운데 정렬 */
  }

  .mobile-nav-toggle {
    display: flex; /* Show the hamburger menu */
    position: absolute;
    background-color: rgb(233,233,233); /* White background */
    color: black; /* Black icon, adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    font-size: 7vw;
    /* Rest of your styling */
  }
  .nav-div {
    height: 330px;
    display: flex; /* 항상 flex로 설정하여 항목들이 나타나게 합니다 */
    flex-direction: row;
    width: 100%; /* 너비를 화면 전체로 설정 */

    background-color: rgba(211, 211, 211, 0.95);
    align-items: center; /* 내용을 중앙 정렬 */
    position: absolute; /* left-div에 상대적으로 배치 */
    top: 100%; /* left-div의 하단에 위치 */
    left: 0;
    z-index: 1050; /* 다른 내용보다 상위에 위치 */
    transition: all 0.5s ease; /* 부드러운 전환 효과 */
    transform: scaleY(0); /* 초기에는 보이지 않도록 설정 */
    transform-origin: top; /* 확장 기준점을 상단으로 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    max-height: 100vh; /* 최대 높이를 화면 높이로 제한 */
  }
  .nav-div.show {
    transform: scaleY(1); /* 클릭 시 내용을 펼쳐 보임 */
  }

  .imag-div {
    width: 10vw;
    margin: auto;
  }


  .nav-img {
    width: 30vw;
    margin: 0 auto; /* 중앙 정렬 */
  }



  .nav-div .nav.flex-column {
    display: none; /* 초기 상태에서 네비게이션 항목 숨김 */

  }
  .nav.flex-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .nav-item {
    width: 138px;
    display: inline-flex;
    margin-right: 20px; /* 각 항목 사이의 간격 조절 */
    transition: box-shadow 0.3s ease-in-out; /* 그림자 변화에 애니메이션 효과를 추가 */
    margin-left: 50px;
    border-radius: 5px;
    padding-left: 10px;
  }
  .nav-menu {
    display: none; /* 화면이 768px 이하일 때 항상 nav-menu 숨김 */
  }
  .nav-item:hover {
    background-color: transparent; /* 배경색 변경을 제거 */
    box-shadow: 0 2px 5px black; /* 그림자 효과 추가 */
    width: 138px; /* 필요한 경우 너비 조정 */
    border-radius: 5px; /* 그림자 효과에 매끄러운 모서리 추가 */
    position: relative; /* z-index가 올바르게 작동하도록 위치 지정 */
    z-index: 1; /* 다른 항목 위에 표시되도록 z-index 설정 */
    cursor: pointer;
  }


  /* nav-div에 show 클래스가 있을 때만 flex-column 표시 */
  /* .nav-div.show .nav.flex-column {
    display: flex; 
    flex-direction: column;
  } */


  /* show 클래스가 있을 때만 nav-item과 nav-link를 표시 */
  /* .nav-div.show .nav-item, .nav-div.show .nav-link {
    display: block; 
  } */



  /* 미디어쿼리 메인문 */

  .main {
    width: 100%; /* main의 너비를 화면 전체로 설정 */
    position: relative; /* main의 위치를 상대적으로 설정 */
    z-index: 2; /* 필요한 경우 z-index 조정 */
    top: 20vw;
  }

  .main .charts{
    flex-direction: column;
    justify-content: center;
  }
  .main .chart{
    width: 60%;
    height: 30vw;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .main-stateboxes {
    display: flex;
    width: 90%;
    flex-direction: column;
    left: 7%;
  }
  .main-statebox{
    width: 80%;
    height: 100px;
  }
  .main-statebox .wait-value {
    top: 40%;
    left: 40%;
  }
  .main-detail {
    width: 85%;
    margin: 20px auto; /* 상하 마진은 20px, 좌우 마진은 자동으로 설정하여 중앙 정렬 */
  }

  table, thead, tbody, th, td, tr {
    display: block; /* 블록 요소로 변환하여 세로로 쌓임 */
  }
  thead tr {
    position: absolute; /* 헤더를 보이지 않게 설정 */
    top: -9999px;
    left: -9999px;
  }
  tr {
    margin: 0 0 1rem 0; /* 각 행(카드)에 마진 추가 */
    border: 1px solid #ddd; /* 행에 테두리 추가 */

    box-shadow: 0 2px 3px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
  }
  td {
    border-bottom: 1px solid #ddd; /* 각 데이터 아래 테두리 추가 */
    position: relative;
    padding: .625rem;
    text-align: left;
    padding-left: 50%;
    border-bottom-left-radius: 0px;
  }
  td:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .625rem;
    font-weight: bold;
    color: rgb(61,135,255) ;;
    content: attr(data-label); /* 라벨 표시 */
  }
  .main-detail tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0; /* 모서리 라운딩 제거 */
  }
  .main-detail tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0;
  }
  .main-detail h2{
    margin-bottom: 15px;
  }

}

