.html {
    width: 100%;
    height: 100vh;
}
.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 280px;
    height: 550px;
    margin: auto;
}

.logintable {
    width: 280px;
    height: 250px;
    margin: auto;
    font-size: 15px;
    }
input[type="text"], input[type="password"], input[type="phone"] {
        width: 250px;
        height: 32px;
        font-size: 15px;
        border: 0;
        border-radius: 15px;
        outline: none;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
}
    
.btn, .btnId {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(164, 199, 255);
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
.btn:active {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(61, 135, 255);
}
a {
    font-size: 12px;
    color: darkgray;
    text-decoration-line: none;
   
}
.join {
    text-align: center;
    margin-top: 20px;
}
.form-header {
    position: relative;
    padding-bottom: 2em; /* 로고를 포함할 수 있는 여백 생성 */
    }
.form-header-member {
        position: relative;
        display: flex; /* Flexbox 사용 */
        justify-content: space-between; /* 양쪽 끝에 내용을 정렬 */
        align-items: center; /* 세로 중앙 정렬 */
        padding-bottom: 1em; /* 하단 여백 */
     }

     .form-logo {
        position: absolute; /* 절대 위치 지정 */
        top: -20px; /* 상단에서 -20px 올라가도록 설정 */
        right: 0; /* 오른쪽 정렬을 위해 0으로 설정 */
        width: 120px; /* 로고의 너비 */
        height: auto; /* 높이는 자동으로 설정하여 비율을 유지 */
    }
  
.form-logo-member {
    position: relative; /* 절대 위치가 아닌 상대 위치로 변경 */
    width: 120px; 
    height: auto;
    /* 마진 삭제 */
  }
  /* 제목에 대한 스타일을 추가합니다. */
.form-header h2 {
    margin: 0; /* 제목의 마진을 없애줍니다. */
    flex-grow: 1; /* 제목이 여유 공간을 모두 차지하도록 합니다. */
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 40px;
    z-index: 100; 
}
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 상단의 마진 비율을 조정하여 모달의 수직 위치를 조정할 수 있습니다. */
padding: 20px;
border: 1px solid #888;
width: 60%; /* 모달 너비를 화면의 60%로 조정합니다. */
max-width: 260px; /* 최대 너비를 260px로 조정합니다. */
border-radius: 5px;
position: relative;
z-index: 101;
}
.modal-content-member{
    background-color: #fefefe;
    margin: 5% auto; /* 조금 더 상단에 위치하도록 마진 조정 */
    padding: 20px;
    border: 1px solid #888;
    width: auto; /* 너비를 자동으로 설정하여 padding에 의해 정의된 내부 크기를 가지게 함 */
    max-width: 260px; /* 최대 너비를 260px로 설정 */
    border-radius: 5px;
    position: relative;
    display: flex; /* Flexbox를 사용하여 내부 요소를 중앙 정렬 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
}
.textmember{
    width: calc(100% - 40px); /* 모달의 패딩 값을 고려하여 너비 계산 */
    margin-bottom: 10px; /* 하단 마진 추가하여 요소들 사이의 간격을 조정 */
}
.close {
    color: #aaa;
    position: absolute; /* 위치를 절대적으로 지정 */
    top: 10px; /* 상단에서 10px 떨어진 곳에 위치 */
    right: 10px; /* 오른쪽에서 10px 떨어진 곳에 위치 */
    font-size: 28px;
    font-weight: bold;
    z-index: 102;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.input-group input {
 width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    margin-bottom: 10px;
}
.text {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
select {
    width: 100px;
    height: 32px;
    font-size: 15px;
    border: 1;
    border-color: lightgray;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
}
.popup-overlay {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.login {
    text-align: center;
}
.error-bubble{
    display: none; /* 기본적으로는 숨김 처리 */
    position: absolute; /* 입력 필드의 상대적 위치에 따라 배치 */
    bottom: 100%; /* 입력 필드 위에 위치 */
    left: 0;
    margin-bottom: 10px; /* 입력 필드와의 간격 */
    padding: 5px;
    background-color: white; /* 배경색 */
    /*color: white; !* 글자색 *!*/
    border-radius: 5px; /* 모서리 둥글게 */
    z-index: 10; /* 다른 요소 위에 표시 */
}
.error-bubble:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 20px; /* 말풍선 꼬리의 좌표 위치 */
    border-width: 5px;
    border-style: solid;
    border-color: white; /* 삼각형 색과 배경색 일치 */
}
